#App
APP_ENV=development
PORT=3000
APP_NAME=Billings

#DB
DB_USERNAME=root
DB_PASSWORD=root
DB_DATABASE=billings
DB_HOST=localhost

# Mail Config
SMTP_ENABLED=true
SMTP_SERVICE=smtp
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=Billings

#JWT
JWT_SECRET=VRK2D0rFsHGJosZAmMW5LlujgLUSWxZwAoTcgo2gSaRttYPuPmbRWOaBh0mtQWts
JWT_EXPIRY=7d

