<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail Verification</title>
</head>

<body>
    <center>
        <div
            style="font-family:Lato,sans-serif;font-size:13px;line-height:23px;font-style:normal;text-align:left;font-weight:400;color: white;">
            <font color="#ffbe3a" style="color:#3C3C3C">
                Dear <span style="text-transform:capitalize; color:#3C3C3C">{{email}}</span>,
                <p>Please note the OTP to verify email:
                    <strong>{{otp}}</strong>
                <p>
                <p>Best Regards, The GAX Team</p>
                <p>For any questions/clarifications, please contact
                    us at: <a href="mailto:billings@mailinator.com"
                        style="font-weight: 800;text-decoration: none; color: #2ccc9c;">billings@mailinator.com</a>
                </p>
                <p style="font-weight: 800;">See You There!</p>
                <p style="margin-bottom: 40px;">The Billings Team</p>
            </font>
        </div>
    </center>
</body>

</html>